.modal {
  min-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  width: 370px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-top: 40px;
  word-wrap: break-word;

  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    width: 450px;
    margin-left: 40px;
  }
}

.modal__form {
  display: flex;
  flex-flow: column;
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal .form-field__text {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sub-text-color);
}

.modal .form-field__label {
  position: relative;
}

.modal .form-field__label:not(:last-child) {
  margin-bottom: 10px;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  margin-top: 11px;
}

.form-field {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--sub-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-left: 42px;
  width: 100%;
  height: 40px;
}

.form-message {
  resize: none;
  overflow: both;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-field__icon {
  fill: var(--primary-text-color);
  position: absolute;
}

.form-field:focus,
.form-field:hover {
  outline: none;
  border: 1px solid var(--accent-text-color);
  transition: var(--animation);
}

.form-field__label:focus .form-field__icon,
.form-field__label:hover .form-field__icon {
  fill: var(--accent-text-color);
  transition: var(--animation);
}

.form-field::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.text-checkbox {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}

.form-checkbox {
  text-align: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon-checkbox {
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--accent-text-color);
}
